/*div {
	border: 1px solid black;
}

	
	/* Universal Styles */


html {
	font-family: open+sans;
	font-size: 14px;
	line-height: 1.4;
}

h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.4rem;
}

h3 {
	color: #399bd1;
	margin-left: 2rem;
	font-size: 1.7rem;
	font-weight: bold;
}

h4 {
	font-size: 1.3rem;
	font-weight: bold;
}

img {
	width: 100%;
	
}
.image-container {
	overflow: hidden;
	opacity: 0.5;
}

.image-container:hover {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}
	
.image-container:hover img {
	transform: scale(1.3);
	transition: transform 0.5s ease-out;
}


	/* Header */


.navbar-default .navbar-nav > .active > a {
	background-color: inherit;
}

.navbar-default .navbar-nav > .active > a:active {
	color: #399bd1;
}

.navbar-default .navbar-nav > .active > a:visited {
	color: #399bd1;
}


	/* Jumbotron */


.jumbotron h1 {
	font-family: monoton;
	font-size: 7.2rem;
	color: white;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.jumbotron p{
	color: white;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;	
}

.jumbotron {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	margin-top: 3rem;
}

.jumbotron .text-container {
	text-align: center;
	width: 51.3rem;
	margin: 11.85rem;
}

.jumbotron-bike {
	background-image: url(../images/jumbotron-bike.jpg);
}

.jumbotron-beer {
	background-image: url(../images/jumbotron-beer.jpg);
}

.jumbotron-flowers {
	background-image: url(../images/jumbotron-flowers.jpg);
}

.jumbotron-duffel {
	background-image: url(../images/jumbotron-duffel.jpg);
}

.btn {
	margin: 1rem;
	padding: 1.2rem 4rem; 
	background-color: #399bd1;
}

.btn:hover {
	background-color: #399bd1;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.2s ease-out;
}


	/* Featured project */


.main {
	display: flex;
	flex-direction: column;
}

.featured {
	margin-bottom: 1rem;
}

.featured .categories h4 {
	color: #399bd1;
}


	/* Projects */


.project {
	margin-bottom: 5.85rem;
}


	/* Having Trouble? */


.trouble {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: #f3f3f3;
	padding: 5.2rem;
	text-align: center;
}


	/* Media Queries */

@media only screen and (max-width: 770px) {
	.navbar-brand {
		display: none;
	}

	.jumbotron {
		margin-top: 9rem;
	}

	.jumbotron h1 {
		font-size: 5.7rem;
	}
}





